.aside-cart {
  width: 37rem;
  height: 71rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  top: 6.8rem;
  right: 1rem;
}

.xmark-icon {
  margin-top: 2rem;
  margin-right: 0.5rem;
}

.title-my-cart {
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.products-container {
  height: 50rem;
}

.info-div-cart {
  height: auto;
  width: 36rem;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  margin-bottom: 2rem;
}

.info-div-cart div p {
  font-size: 1.8rem;
}

.info-div-cart div button {
  height: 4rem;
  width: 22rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 950px) {
  .aside-cart {
    width: 32rem;
    height: 52rem;
  }
  .products-container {
    height: 32rem;
  }
  .info-div-cart {
    width: 30rem;
  }
}

@media screen and (max-width: 350px) {
  .aside-cart {
    right: 0;
  }
}
